<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Passer une commande</h2>

<form method="post">
    {% csrf_token %}

    <label>Produit</label><br>
    <input type="text" name="produit" required><br><br>

    <label>Quantité</label><br>
    <input type="number" name="quantite" min="1" required><br><br>

    <button type="submit">Commander</button>
</form>

</body>
</html>